<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Ivalue Group</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">


</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <img src="assets/img/ivalue.jpg" alt="">
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <li><a class="getstarted scrollto" href="/login">Login</a></li>
          <li><a class="getstarted scrollto" href="/register">Register</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">We offer modern Security & Infrastructure Management Services</h1>
          <h2 data-aos="fade-up" data-aos-delay="400">Solutions with Services for every DX need.</h2>
          <div data-aos="fade-up" data-aos-delay="600">
            <div class="text-center text-lg-start">
              <a href="/register" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                <span>Get Started</span>
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
          <img src="assets/img/hero-img.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">

      <div class="container" data-aos="fade-up">
        <div class="row gx-0">

          <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
            <div class="content">
              <h3>Who We Are</h3>
              <h2>Optimize. Transform. Inspire</h2>
              <p>
                At iValue, we recognize technology as both an ingredient and catalyst for growth and transformation. Our thrust areas of Cybersecurity and Technology solutions help enterprises drive their future strategy while we secure and future-proof their landscape.
              </p>
              <div class="text-center text-lg-start">
                <a href="https://ivaluegroup.com/corporate/about-us/" class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
                  <span>Read More</span>
                  <i class="bi bi-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>

          <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
            <img src="assets/img/about.jpg" class="img-fluid" alt="">
          </div>

        </div>
      </div>

    </section><!-- End About Section -->

    <!-- ======= Values Section ======= -->
    <section id="values" class="values">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Our Offerings</h2>
          <p>iValue Advantage</p>
        </header>

        <div class="row">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
            <div class="box">
              <img src="assets/img/values-1.png" class="img-fluid" alt="">
              <h3>Application Infrastructure</h3>
              <p>Flexibility to deploy as Private or Hybrid Multi-cloud model.</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
            <div class="box">
              <img src="assets/img/values-2.png" class="img-fluid" alt="">
              <h3>Multi Cloud Services</h3>
              <p>Application Migration to Modernization – ALCM on Cloud.</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="600">
            <div class="box">
              <img src="assets/img/values-3.png" class="img-fluid" alt="">
              <h3>Security & Infra Management Services</h3>
              <p>Implement Security to secure your Servers.</p>
            </div>
          </div>

        </div>

      </div>

    </section><!-- End Values Section -->

 


 
    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
            <h2>Our OEM</h2>
            <p>Our OEM Partners</p>
        </header>

        <div class="clients-slider swiper">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><img src="https://ivaluegroup.com/wp-content/uploads/2022/08/23.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="https://ivaluegroup.com/wp-content/uploads/2022/08/75.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="https://ivaluegroup.com/wp-content/uploads/2022/08/25.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="https://ivaluegroup.com/wp-content/uploads/2022/08/24-1.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="https://ivaluegroup.com/wp-content/uploads/2022/08/76.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="https://ivaluegroup.com/wp-content/uploads/2022/08/Arete_Logo.jpg" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="https://ivaluegroup.com/wp-content/uploads/2022/08/26.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="https://ivaluegroup.com/wp-content/uploads/2022/08/27.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="https://ivaluegroup.com/wp-content/uploads/2022/08/28.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="https://ivaluegroup.com/wp-content/uploads/2022/08/31.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="https://ivaluegroup.com/wp-content/uploads/2022/08/33.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="https://ivaluegroup.com/wp-content/uploads/2022/08/34.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="https://ivaluegroup.com/wp-content/uploads/2022/08/35.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="https://ivaluegroup.com/wp-content/uploads/2022/08/6.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="https://ivaluegroup.com/wp-content/uploads/2022/08/5.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="https://ivaluegroup.com/wp-content/uploads/2022/08/36.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="https://ivaluegroup.com/wp-content/uploads/2022/08/37.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="https://ivaluegroup.com/wp-content/uploads/2022/02/COT-1.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="https://ivaluegroup.com/en-in/wp-content/uploads/sites/2/2022/02/Cyberark.jpg" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="https://ivaluegroup.com/wp-content/uploads/2022/08/83.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="https://ivaluegroup.com/wp-content/uploads/2022/08/download-2.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="https://ivaluegroup.com/wp-content/uploads/2022/08/39.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="https://ivaluegroup.com/wp-content/uploads/2023/07/Untitled-design-19.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="https://ivaluegroup.com/wp-content/uploads/2022/08/85.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="https://ivaluegroup.com/wp-content/uploads/2022/08/81-1.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="https://ivaluegroup.com/wp-content/uploads/2022/08/22.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="https://ivaluegroup.com/wp-content/uploads/2022/08/43.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="https://ivaluegroup.com/wp-content/uploads/2023/07/Untitled-design-22.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="https://ivaluegroup.com/wp-content/uploads/2022/08/84.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="https://ivaluegroup.com/wp-content/uploads/2023/06/Untitled-design-11.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="https://ivaluegroup.com/wp-content/uploads/2023/06/Untitled-design-12.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="https://ivaluegroup.com/wp-content/uploads/2023/06/Untitled-design-13.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="https://ivaluegroup.com/wp-content/uploads/2022/08/19.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="https://ivaluegroup.com/wp-content/uploads/2022/08/47.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="https://ivaluegroup.com/wp-content/uploads/2022/08/81.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="https://ivaluegroup.com/wp-content/uploads/2023/07/Untitled-design-18-1.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="https://ivaluegroup.com/wp-content/uploads/2022/08/3.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="https://ivaluegroup.com/wp-content/uploads/2022/08/49.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="https://ivaluegroup.com/wp-content/uploads/2022/08/77.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="https://ivaluegroup.com/wp-content/uploads/2022/08/86.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="https://ivaluegroup.com/wp-content/uploads/2022/08/50.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="https://ivaluegroup.com/wp-content/uploads/2022/08/7.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="https://ivaluegroup.com/wp-content/uploads/2022/08/51.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="https://ivaluegroup.com/wp-content/uploads/2022/08/53.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="https://ivaluegroup.com/wp-content/uploads/2022/08/16.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="https://ivaluegroup.com/wp-content/uploads/2022/08/52.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="https://ivaluegroup.com/wp-content/uploads/2022/08/57.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="https://ivaluegroup.com/wp-content/uploads/2022/08/56.png" class="img-fluid" alt=""></div>
          </div>
          {{!-- <div class="swiper-pagination"></div> --}}
        </div>
      </div>

    </section><!-- End Clients Section -->


    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Contact</h2>
          <p>Contact Us</p>
        </header>

        <div class="row gy-4">

          <div class="col-lg-6">

            <div class="row gy-4">
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-geo-alt"></i>
                  <h3>Address</h3>
                  <p>iValue Group (India-HQ)<br>No. 903/1/1, 19th Main Road, 4th Sector, H.S.R. Layout, Bangalore – 560102</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-geo-alt"></i>
                  <h3>Address</h3>
                  <p>iValue Infosolutions Private Limited (<b>Singapore</b>)<br>No.31, Cantonment Road, Singapore – 089747</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-envelope"></i>
                  <h3>Email Us</h3>
                  <p>info@ivalue.co.in</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-telephone"></i>
                  <h3>Call</h3>
                  <p>+91 95359 99473</p>
                </div>
              </div>
            </div>

          </div>

          <div class="col-lg-6">
            <form action="forms/contact.php" method="post" class="php-email-form">
              <div class="row gy-4">

                <div class="col-md-6">
                  <input type="text" name="name" class="form-control" placeholder="Your Name" required>
                </div>

                <div class="col-md-6 ">
                  <input type="email" class="form-control" name="email" placeholder="Your Email" required>
                </div>

                <div class="col-md-12">
                  <input type="text" class="form-control" name="subject" placeholder="Subject" required>
                </div>

                <div class="col-md-12">
                  <textarea class="form-control" name="message" rows="6" placeholder="Message" required></textarea>
                </div>

                <div class="col-md-12 text-center">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>

                  <button type="submit">Send Message</button>
                </div>

              </div>
            </form>

          </div>

        </div>

      </div>

    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-5 col-md-12 footer-info">
            <a href="index.html" class="logo d-flex align-items-center">
              <img src="assets/img/ivalue.jpg" alt="">
              
            </a>
            <p>At iValue, we recognize technology as both an ingredient and catalyst for growth and transformation.</p>
            <div class="social-links mt-3">
              <a href="https://twitter.com/iValueInfoSoln" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="https://www.facebook.com/iValueInfoSoln/" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="https://www.linkedin.com/company/ivalue-infosolutions-pvt-ltd" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="https://ivaluegroup.com/events/current-events/">Event</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="https://ivaluegroup.com/news/">News</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="https://ivaluegroup.com/corporate/mission-and-vision/">Mission & Vission</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#contact">Contact</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>Corporate</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="https://ivaluegroup.com/corporate/about-us">About Us</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="https://ivaluegroup.com/corporate/leadership">Leadership</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="https://ivaluegroup.com/corporate/certifications/">Certifications</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="https://ivaluegroup.com/csr/">CSR</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
            <h4>Contact Us</h4>
            <p>
                No. 903/1/1, 19th Main Road,<br>
                4th Sector, H.S.R. Layout,<br>
                Bangalore – 560102<br>
              <strong>Phone:</strong> +91 95359 99473<br>
              <strong>Email:</strong> info@ivalue.co.in<br>
            </p>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>2023 iValue InfoSolutions Pvt. Ltd. </span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed and Developed by <a href="https://chinmayakumarbiswal.in/">Chinmaya Kumar Biswal</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>