<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>FlexStart Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">


</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center">
        <img src="assets/img/ivalue.jpg" alt="">
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/">Home</a></li>
          <li><a class="getstarted scrollto" href="/login">Login</a></li>
          <li><a class="getstarted scrollto" href="/register">Register</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

 
  <main id="main">


 

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
         
          <p>Login</p>
        </header>

        <div class="row gy-4">

          <div class="col-lg-6">

            <img src="assets/img/features.png" class="img-fluid" alt="">

          </div>

          <div class="col-lg-6">
            <form action="/authRegister" method="post" class="php-email-form">
                <div class="row gy-4">
                    <div class="col-md-12 ">
                        <input type="name" class="form-control" name="name" placeholder="Your Name" required>
                    </div>
                    <div class="col-md-12 ">
                        <input type="email" class="form-control" name="email" placeholder="Your Email" required>
                    </div>

                    <div class="col-md-12">
                        <input type="password" class="form-control" name="password" placeholder="Enter Your Password" required>
                    </div>

                    <div class="col-md-12">
                        <input type="password" class="form-control" name="passwordConfirm" placeholder="Enter Your Password" required>
                    </div>

                    <div class="col-md-12">
                        <h3 class="text-center text-danger">{{message}}</h3>
                    </div>

                    <div class="col-md-12 text-center">
                        

                        <button type="submit">Register</button>
                    </div>

                    <div class="col-md-12 text-center">
                        <small class="font-weight-bold">Don't have an account? <a class="text-danger" href="/register">Register</a></small>
                    </div>

                </div>
            </form>

          </div>

        </div>

      </div>

    </section><!-- End Contact Section -->

  </main><!-- End #main -->

 <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-5 col-md-12 footer-info">
            <a href="index.html" class="logo d-flex align-items-center">
              <img src="assets/img/ivalue.jpg" alt="">
              
            </a>
            <p>At iValue, we recognize technology as both an ingredient and catalyst for growth and transformation.</p>
            <div class="social-links mt-3">
              <a href="https://twitter.com/iValueInfoSoln" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="https://www.facebook.com/iValueInfoSoln/" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="https://www.linkedin.com/company/ivalue-infosolutions-pvt-ltd" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="https://ivaluegroup.com/events/current-events/">Event</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="https://ivaluegroup.com/news/">News</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="https://ivaluegroup.com/corporate/mission-and-vision/">Mission & Vission</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#contact">Contact</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>Corporate</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="https://ivaluegroup.com/corporate/about-us">About Us</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="https://ivaluegroup.com/corporate/leadership">Leadership</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="https://ivaluegroup.com/corporate/certifications/">Certifications</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="https://ivaluegroup.com/csr/">CSR</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
            <h4>Contact Us</h4>
            <p>
                No. 903/1/1, 19th Main Road,<br>
                4th Sector, H.S.R. Layout,<br>
                Bangalore – 560102<br>
              <strong>Phone:</strong> +91 95359 99473<br>
              <strong>Email:</strong> info@ivalue.co.in<br>
            </p>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>2023 iValue InfoSolutions Pvt. Ltd. </span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="https://chinmayakumarbiswal.in/">Chinmaya Kumar Biswal</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>